<body class="bg-gray-900 text-white min-h-screen flex flex-col">
  <%= render "casino/navbar" %>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <turbo-frame id="casino-content" class="bg-gray-800 rounded-2xl p-4 shadow">
        <%= render "casino_content" %>
      </turbo-frame>

      <turbo-frame id="instructions-content" class="bg-gray-800 rounded-2xl p-4 shadow">
        <%= render "instructions_content" %>
      </turbo-frame>
    </div>
</body>